/* Body */

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(39, 39, 39);
    font-family: 'consolas', monospace;
    color: rgb(255, 255, 255);
}

/* General */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Header */

header {
    margin-bottom: -20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

header h6 {
    margin-top: -18px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(184, 184, 184);
}

/* Navigation */

nav {
    margin-top: 9px;
    
}

nav .flex-container > div {
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

nav div a {
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Content */

main p {
    margin-bottom: 2em;
    font-size: 17px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

main div.block {
    display: block;
    margin: auto;
    margin-top: -10px;
    max-width: 700px;
    padding: 0px 20px;
    font-size: 17px;
    line-height: 2;
    text-align: justify;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    margin: 0px;
    width: 100%;
}

footer div {
    background-color: rgb(39, 39, 39);
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
}
