
body {
    background-color: rgb(39, 39, 39);
    font-family: 'consolas', monospace;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.centered{
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-container > div {
    height: 50px;
    text-align: center;
}

header{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    margin: 8px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(36, 84, 146);
}

footer{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 10px;
}